*{

  box-sizing: border-box;
}
.wrapper{
  display: flex;

}


.card{
  transition: 1s;
 margin: 5px;
  width:15%;
  height: 600px;
  border-radius: 10px;
}

.card img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.active{
  transition: 1s;
  width: 55%;
  height: 600px;
  margin: 5px;
  border-radius: 10px;

}


.active img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}



.active1{
  transition: 1s;
  width: 30%;
  height: 600px;
  margin: 5px;
  border-radius: 10px;

}

.active1 img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
  
  